$accent-color: #1e3e47;
$gray-color: #505354;

:root {
  font-size: 16px;
}

.clickable:hover {
  cursor: pointer;
}

main {
  // padding-top: 1rem;
  overflow-y: auto;
}

.btn-without-text {
  padding: 5px;
}

.btn-without-text>svg {
  width: 2rem;
  height: 2rem;
}

aside {
  background-color: $accent-color;
  min-width: 200px;
  
  hr {
    color: white;
  }

  .navbar-nav .nav-link {
    color: white;
    
    &.active, &:hover, &:focus {
      background-color: white;
      color: $accent-color;
    }
  }
}

.profile-img, .participant-profile-img .avatar {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img-small, nav .avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img-big {
  width: 300px;
  border-radius: 20px;
  object-fit: cover;
}

.avatar {
  background-color: $accent-color;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  max-width: 700px;
}

a.disabled {
  pointer-events: none;
}

option:not(#select-status>option):first-child {
  font-style: italic;
}

.clean-btn {
  border: none;
  background-color: transparent;
}

.btn-done {
  border: none;
  padding: 0;
  font-size: 2rem;
  background-color: transparent;
  flex-grow: 1;
}

.text-gray {
  color: lightgrey;
}

.bg-accent {
  background-color: $accent-color;
  color: white;
}

.global-spinner-wrapper {
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}


.participants-choice {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-left: 20px;
}

#edit-task-form label, #edit-project-form label {
  font-weight: bold;
  margin: 0;
}

.login-container {
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  background-color: white;
  max-width: 500px;
}

.login-wrapper h1{
  text-align: center;
}

.login-wrapper p{
  font-size: 0.9em;
}

tr.verical-middle-row>td {
  vertical-align: middle;
}

#landing-page-container {
  header {
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    padding: 0.9rem 0;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 9999;
  }
  nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: end;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      padding: 0 1.5rem;
    }
  }

  main {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    position: relative;
  }  

  .bg-img {
    width: 2000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .mountain1 {
    width: 1200px;
    bottom: -500px;
    right: -50px;
    z-index: 1;
  }

  .text {
    z-index: 2;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  .text h1 {
    font-weight: 800;
    font-size: 8rem;
    pointer-events: auto;

  }

  .mountain2 {
    width: 2000px;
    top: 20%;
    left: 0;
    z-index: 3;
  }

  .trail {
    width: 800px;
    right: 0;
    bottom: 0;
    z-index: 4;
  }

  .static-effect {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }

  .vignette {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7));
    pointer-events: none;
  }

  .parallax {
    pointer-events: none;
    position: absolute;
    transition: 0.45s cubic-bezier(.18,.51,.68,1.01);
  }

  ::selection {
    background-color: #1e3e4795;
  }
  
}

@media (max-width: 1100px) {
  #landing-page-container {
    .text h1 {
      font-size: 5.8rem;
    }
  }
}

@media (max-width: 768px) {
  #landing-page-container {
    .text h1 {
      font-size: 5rem;
      line-height: 1;
    }

    header nav {
      padding: 0 1rem;
    }

    header nav a {
      padding: 0 0.9rem;
    }
  }

  .nav-buttons button {
    background-color: $accent-color;

    &:hover {
      border: 1px solid $accent-color;
    }
  }
}